{% extends 'appbase.html' %}
{% load static %}
{% block content %}
<head>
   <title> {% block title %}Ajouter Produit{% endblock %} </title>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Ajouter Produit Pour La Facture :  </h6>
                </div>
                <div class="card-body">
                    <form action="{% url 'AjoutProduit' %}" method="POST" class="form-group">
                        {% csrf_token %}
                        <p>Nom : <input type="text" class="form-control mt-2" name="name" /> </p>
                        <p>Prix unitaire hors taxe : <input type="number" class="form-control mt-2" name="prix_u_ht" /> </p>
                        <p>Qantité :<input type="text" class="form-control mt-2" name="qty"  /> </p>
                        <p>TVA :<input type="text" class="form-control mt-2" name="tva"  /> </p>
                        <p>Montant :<input type="text" class="form-control mt-2" name="montant"  /> </p>
                        <input type="submit" class="btn btn-primary mt-2" value="Ajouter"/> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}