{% extends 'appbase.html' %}
{% load static %}
{% block content %}
<head>
  <title>{% block title %}Produits{% endblock %}</title>
</head>
<div class="container">
    <a href="{% url 'AjoutProduit' %}" class="btn btn-primary">Ajouter Produit</a>
  <hr>
    <div class="row">
      {% for p in produits %}
        <div class="col lg-2">
          <div class="card">
              <a href="{% url 'showProd' p.id %}">
                <!-- THIS DIV IS NOT CLICKABLE BUT I WANT IT TO BE -->
                <div class="card-body">
                  <a href="{% url 'showProd' p.id %}"><h3 class="card-sub align-middle">{{p.name}}</h3></a>
                  <p class="time-card">N factures</p>
                </div><!-- END CARD-BODY -->
              </a>
            </div><!-- END CARD -->
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %} 