{% extends 'appbase.html' %}
{% load static %}
{% block content %}
<head>
   <title> {% block title %}Produit {{produit.name}}{% endblock %} </title>
   <style>
    .justify-content-end{
        color: rgb(0, 153, 255);
    }
    .titi:hover {
        background: #f4ebff75;
        color: black;
        } 
</style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Produit : {{produit.name}}</h6>
                    <div class="dropdown no-arrow float-right">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'editProd' produit.id %}">Modifier Produit</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delcomModal">Supprimer Produit</a>
                    </div>
                    </div>
                </div>
                <div class="card-body mt-3 mb-2 d-flex justify-content-center">
                <table>
                    <tr>
                        <td><div class="d-flex justify-content-end">Nom : </div> </td>
                        <td><div class="d-flex justify-content-start">{{ produit.name }}</div></td>
                    </tr>
                    <tr>
                        <td><div class="d-flex justify-content-end">Prix Unitaire Hors Taxe : </div></td>
                        <td><div class="d-flex justify-content-start">{{ produit.prix_u_ht }}</div></td>
                    </tr>
                    <tr>
                        <td><div class="d-flex justify-content-end">Quantité : </div></td>
                        <td><div class="d-flex justify-content-start">{{ produit.qty }}</div></td>
                    </tr>
                    <tr>
                        <td><div class="d-flex justify-content-end">TVA : </div></td>
                        <td><div class="d-flex justify-content-start">{{ produit.tva }}</div></td>
                    </tr>
                    <tr>
                        <td><div class="d-flex justify-content-end">Montant : </div></td>
                        <td><div class="d-flex justify-content-start">{{ produit.montant }}</div></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        {% if factures.count %}
<div class="col lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Les Factures</h6>
        </div>
        <div class="card-body">
            <table class="table table-responsive-xl">
               <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th> 
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% for f in page_obj %}
                    <tr class="alert titi clickable-row" role="alert" style="cursor: pointer;" data-href="#">
                      <td>{{f.name}}</td>
                      <td>{{f.creation_date}}</td>
                      <td><a href="{% url 'show' f.id %}" class="btn btn-light btn-icon-split">
                        <span class="icon text-gray-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                      </a></td>
                      <td><a href="{% url 'removeFacProd' f.id produit.id %}" class="btn btn-danger">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                      </a></td>
                    </tr>
                  {% endfor %}
                </tbody>
             </table>
             <div class="pagination-container">
                <div class="">
                  Page {{page_obj.number}} sur {{page_obj.paginator.num_pages}}
                </div>
                <ul class="pagination align-right float-right mr-auto">
                  {% if page_obj.has_previous %}
                    <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Pécédent</a></li>
                    {% endif %}
                
                    {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a></li>
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                  {% endif %}
                </ul>
              </div>
          </div>
      </div>
</div>
{% endif %}
    </div>
</div>
<form action="{% url 'deleteprod' produit.id %}" method="post">
        {% csrf_token %} 
    <div class="modal fade" id="delcomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Voulez-vous Supprimer ce produit?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selectionnez "Oui" si vous êtes sure</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                    <input class="btn btn-danger" type="submit" value="Oui">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}