{% extends 'appbase.html' %}
{% load static %}
{% block content %}
<head>
    <title> {% block title %} Profile Client{% endblock %} </title>
<style>
    .justify-content-end{
        color: rgb(0, 153, 255);
    }
</style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Client :</h6>
            <div class="dropdown no-arrow float-right">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'editclient'%}">Modifier Client</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delcomModal">Supprimer Client</a>
            </div>
              </div>
            </div>
            <div class="card-body">
            <div class="row">
            <div class="col">
                <img width="100px" height="100px" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fuser-png-icon-download-icons-logos-emojis-users-2240.png&f=1&nofb=1"/>
            </div>
            <div class="col ">
                <div class="d-flex justify-content-end">Nom : </div>  
                <div class="d-flex justify-content-end">Addresse : </div>
                <div class="d-flex justify-content-end">Email : </div>
                <div class="d-flex justify-content-end">Tel : </div>
            </div>
            <div class="col"> 
                <div class="d-flex justify-content-start">TranProg</div>
                <div class="d-flex justify-content-start">Megrine</div>
                <div class="d-flex justify-content-start">contact@trasprog.com</div>
                <div class="d-flex justify-content-start">+216 71 426 188</div>
            </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
            <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Contactez :</h6>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="col">
            <form class="form-group" action="">
                <input type="text" class="form-control mt-2" name="subject" placeholder="sujet"/>
                <input type="text" class="form-control mt-2" name="message" placeholder="message"/>
                <input type="text" class="form-control mt-2" name="coord" placeholder="Vos coordonnées"/>
                <input type="submit" class="btn btn-primary mt-2" value="Envoyez"/>
            </form>
        </div>
    </div>
    </div>
    </div>
</div>
<div class="col lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Les Factures</h6>
            <a href="#" class="btn btn-danger float-right" data-toggle="modal" data-target="#delfacomModal">Supprimer les factures de ce client</a>
        </div>
        <div class="card-body">
            <table class="table table-responsive-xl">
               <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th> 
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                </tbody>
             </table>
          </div>
      </div>
</div>
</div>
{% endblock %}






















<div class="col lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Les Factures</h6>
            <a href="#" class="btn btn-danger float-right" data-toggle="modal" data-target="#delfacomModal">Supprimer les factures d'aujourd'hui</a>
        </div>
        <div class="card-body">
            <table class="table table-responsive-xl">
               <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th> 
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                        <td>Lorem ipsum dolor sit</td>
                    </tr>
                </tbody>
             </table>
          </div>
      </div>
</div>