{% extends 'appbase.html' %}
{% load static %}
{% block content %}
<head>
    <title> {% block title %} Profile Client{% endblock %} </title>
<style>
    .justify-content-end{
        color: rgb(0, 153, 255);
    }
    .titi:hover {
        background: #f4ebff75;
        color: black;
        } 
</style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Client</h6>
            <div class="dropdown no-arrow float-right">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'editclient' client.id %}">Modifier Client</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delcomModal">Supprimer Client</a>
            </div>
              </div>
            </div>
            <div class="card-body">
            <div class="row">
            <div class="col-lg-2">
                <img width="100px" height="100px" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fuser-png-icon-download-icons-logos-emojis-users-2240.png&f=1&nofb=1"/>
            </div>
            <div class="col-lg-4">
                <div class="d-flex justify-content-end">Nom : </div>  
                <div class="d-flex justify-content-end">Addresse : </div>
                <div class="d-flex justify-content-end">Email : </div>
                <div class="d-flex justify-content-end">Tel : </div>
            </div>
            <div class="col"> 
                <div class="d-flex justify-content-start">{{ client.name }}</div>
                <div class="d-flex justify-content-start">{{ client.adress }}</div>
                <div class="d-flex justify-content-start">{{ client.email }}</div>
                <div class="d-flex justify-content-start">{{ client.phone }}</div>
            </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <h6 class="m-0 font-weight-bold text-primary">Contactez</h6>
        </a>
        <div class="collapse hide" id="collapseCardExample">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form class="form-group" action="{% url 'contactCli' client.id %}" method="post">
                            {% csrf_token %}
                            <input type="text" class="form-control mt-2" name="subject" placeholder="sujet"/>
                            <input type="text" class="form-control mt-2" name="message" placeholder="message"/>
                            <input type="text" class="form-control mt-2" name="coord" placeholder="Vos coordonnées"/>
                            <input type="submit" class="btn btn-primary mt-2" value="Envoyez"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if factures.count %}
<div class="col lg-6">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Les Factures</h6>
            <a href="#" class="btn btn-danger float-right" data-toggle="modal" data-target="#delfacomModal">Supprimer les factures de ce client</a>
        </div>
        <div class="card-body">
            <table class="table table-responsive-xl">
               <thead>
                  <tr>
                    <th>Name</th>
                    <th>Date</th> 
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                    {% for f in page_obj %} 
                    <tr class="alert titi clickable-row" role="alert" style="cursor: pointer;" data-href="{% url 'show' f.id %}">
                      <td>{{f.name}}</td>
                      <td>{{f.creation_date}}</td>
                      <td><a href="{% url 'show' f.id %}" class="btn btn-light btn-icon-split">
                        <span class="icon text-gray-50">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                      </a></td>
                    </tr>
                  {% endfor %}
                </tbody>
             </table>
             <div class="pagination-container">
                <div class="">
                  Page {{page_obj.number}} sur {{page_obj.paginator.num_pages}}
                </div>
                <ul class="pagination align-right float-right mr-auto">
                  {% if page_obj.has_previous %}
                    <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Pécédent</a></li>
                    {% endif %}
                
                    {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a></li>
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                  {% endif %}
                </ul>
              </div>
          </div>
      </div>
</div>
{% endif %}
</div>
<form action="{% url 'deletefaccli' client.id %}" method="post">
    {% csrf_token %} 
  <div class="modal fade" id="delfacomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Voulez-vous Supprimer toutes les factures?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selectionnez "Oui" si vous êtes sure</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <input class="btn btn-danger" type="submit" value="Oui">
            </div>
        </div>
    </div>
  </div>
  </form>
  <form action="{% url 'deletecli' client.id %}" method="post">
    {% csrf_token %} 
<div class="modal fade" id="delcomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Voulez-vous Supprimer ce client?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selectionnez "Oui" si vous êtes sure</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <input class="btn btn-danger" type="submit" value="Oui">
            </div>
        </div>
    </div>
</div>
</form>
    <!--Scripts-->
    <script src="{% static 'app/facture/script.js'%}"></script>
    <script src="{% static 'app/facture/searchFac.js'%}"></script>
    <script>
        jQuery(document).ready(function($) {
          $(".clickable-row").click(function() {
              window.location = $(this).data("href");
          });
      });
    </script>
{% endblock %}