{% extends 'base_auth.html' %}
{% block content %}
{% load static %}
<html lang="en">
    <title>{% block title %}RecFac - Forgot Password{% endblock%}</title>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block"><img style="width:400px;height:400px;" src="{% static 'home/img/lock.jpeg' %}"/></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Mot de passe oublié?</h1>
                                        <p class="mb-4">Entrez simplement votre adresse e-mail <br/> ci-dessous et nous vous enverrons un lien pour réinitialiser votre mot de passe!</p>
                                    </div>
                                    <form action="{% url 'request-reset-link' %}" class="user" method="post">
                                        {% csrf_token %}
                                        {% include 'partials/_messages.html' %} 
                                        <div class="form-group">
                                            <input name="email" type="email" class="form-control form-control-user" id=""
                                                placeholder="Adresse Email">
                                                <div class="invalid-email invalid-feedback mx-2" style="display:none;">
                                                </div>
                                                <p class="text-sm text-success email-success mx-2 p-0"></p>
                                        </div>
                                        <input  type="submit" class="btn btn-primary btn-user btn-block submit-btn" value="Envoyez"/>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'register' %}">Créer un nouveau compte !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>
{% endblock  %}