{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}
        {% endblock%} </title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'img/invoice.svg'%}" rel="icon">
    <link href="{% static 'app/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'app/css/sb-admin-2.min.css'%}" rel="stylesheet">
  </head>
  <body>
    <main>
        
        {% block content %}
      
        {% endblock  %}      

      </main>
    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'app/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'app/vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'app/js/sb-admin-2.min.js'%}"></script>
    <script src="{% static 'js/register.js'%}"></script>
    <!-- Page level plugins -->
    {% comment %} <script src="{%static 'app/vendor/chart.js/Chart.min.js'%}"></script> {% endcomment %}

    <!-- Page level custom scripts -->
    {% comment %} <script src="{%static 'app/js/demo/chart-area-demo.js'%}"></script>
    <script src="{%static 'app/js/demo/chart-pie-demo.js'%}"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script> 
</body>
</html>