{% extends 'appbase.html' %}
{% load static %}
{% block content %}
<title> {% block title %} Show {% endblock %} </title>
<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card shadow mb-4">
          <div class="card-header py-3">
            <small class="font-weight-bold text-primary">{{facture.name}}</small>
              <div class="dropdown no-arrow float-right">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'edit' facture.id %}">Modifier facture</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delcomModal">Supprimer facture</a>
                <a class="dropdown-item" href="{% url 'createProd' facture.id %}">Ajouter Produit</a>
            </div>
              </div>
          </div>
          <div class="card-body">
              <object
                data="http://127.0.0.1:8000/app/media/{{facture.files}}"
                type="application/pdf"
                width="500"
                height="680"
              >
                <img
                  src="http://127.0.0.1:8000/app/media/{{facture.files}}"
                  width="500"
                  height="680"
                />
              </object>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Extracter comme :</h6>
      </div>
      <div class="card-body">
        <a href="" class="btn btn-primary">PDF</a>
        <a href="" class="btn btn-success">EXCEL</a>
        <a href="{% url 'exportCsv' facture.id %}" class="btn btn-warning">CSV</a>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Champs</h6>
      </div>
      <div class="card-body">
        <form action="{% url 'show' facture.id %}" method="post" class="form-group py-3 mb-3 ">
          {% csrf_token %}
          <label>Référence : <input type="text" name="ref_fac" class="form-control" value="{{facture.ref_fac}}"></label>
          <label>Date : <input type="text" name="date" class="form-control" value="{{facture.date}}"></label>
          <label>Total : <input type="text" name="total" class="form-control" value="{{facture.total}}"></label>
          <p><label>Produit : <input type="text"  class="form-control" value="Produits" disabled/></label> <label> <a href="{% url 'showLprod' facture.id %}" class="btn btn-info"><i class="fas fa-arrow-right"></i></a></label>
            {% if p_select.count %}
            <label>                         
              <select class="form-control" name="produit" aria-label="Default select example" multiple>
              <option selected value=""></option>
              {% for p in p_select %}
                  <option value="{{ p.id }}">{{ p.name }}</option>
              {% endfor %}
            </select> </label>
            {% endif %}
          </p>

          {% if facture.fournisseur or four_assoc %}
              <p>
                <label>Fournisseur : 
                  <select class="form-control" name="fournisseur" aria-label="Default select example">
                    {% if facture.fournisseur %}
                        <option selected value="{{ facture.fournisseur.id }}" disabled>{{ facture.fournisseur.name }}</option>
                    {% else %}
                    <option selected value=""></option>
                    {% endif %}
                  {% if four_assoc %}
                    {% for fa in four_assoc %}
                      <option value="{{ fa.id }}">{{ fa.name }}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
                  </label>
                    {% if facture.fournisseur %}
                      <label> <a href="{% url 'fourprof' facture.fournisseur.id %}" class="btn btn-info"><i class="fas fa-arrow-right"></i></a></label>
                    {% endif %}
              </p>
          {% endif %}


          {% if facture.client or cli_assoc %}
          <p><label>Client : 
            {% comment %} <input type="text" class="form-control"value="{{facture.client.name}}" disabled/></label> 
            <label>      {% endcomment %}
              <select class="form-control" name="client" aria-label="Default select example">
                {% if facture.client %}
                  <option selected value="{{facture.client.id}}" disabled>{{facture.client.name}}</option>
                  {% else %}
                  <option selected value=""></option>
                {% endif %}
                {% if cli_assoc %}
                {% for ca in cli_assoc %}
                <option value="{{ ca.id }}">{{ ca.name }}</option>
              {% endfor %}
                {% endif %}
            </select> 
            {% if facture.client %}
          </label> <label> <a href="{% url 'cliprof' facture.client.id %}" class="btn btn-info"><i class="fas fa-arrow-right"></i></a></label>
          {% endif %} 
        </p>
          {% endif %}
            <select class="form-control" name="status" aria-label="Default select example">
              <option value="{{ facture.status }}">{% if facture.status == 'P' %}Payée {% elif facture.status == 'N'%} Non Payée {% else %} Avance Donnée {% endif %}</option>
              {% for s in status %}
                <option value={{s}}>{% if s == 'P' %}Payée {% elif s == 'N'%} Non Payée {% else %} Avance Donnée {% endif %}</option>
              {% endfor %}
            </select> 
          <input type="submit" class="btn btn-primary mt-2" value="Sauvegarder"/>
        </form>
      </div>
  </div>
</div>
</div>
<form action="{% url 'deletefac' facture.id %}" method="post">
  {% csrf_token %} 
<div class="modal fade" id="delcomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Voulez-vous Supprimer la facture?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">Selectionnez "Oui" si vous êtes sure</div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
              <input class="btn btn-danger" type="submit" value="Oui">
          </div>
      </div>
  </div>
</div>
</form>
{% endblock %}