{% extends 'appbase.html' %}
{% block content %}
{% load static %}
<head>
  <title> {% block title %} Import {% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'app/facture/style.css'%}">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
  <style>
  .titi:hover {
    background: #f4ebff75;
    color: black;
    } 
  </style>
</head>
<!--Upload Content-->
<div class="container">
            {% if factures.count %}
              <form action="" class="pb-3 w-100">
                <input type="text" class="form-control" id="searchField" placeholder="Rechercher"/>
              </form>
                <div class="factures-table">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Les Factures</h6>
                        <a href="#" class="btn btn-danger float-right" data-toggle="modal" data-target="#delfacomModal">Supprimer les factures d'aujourd'hui</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-xl">
                           <thead>
                              <tr>
                                <th>Name</th>
                                <th>Date</th> 
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for f in page_obj %} 
                                <tr class="alert titi clickable-row" role="alert" style="cursor: pointer;" data-toggle="modal" data-target="#modal{{f.id}}">
                                  <td>{{f.name}}</td>
                                  <td>{{f.creation_date}}</td>
                                  <td><a href="#" class="btn btn-light btn-icon-split">
                                    <span class="icon text-gray-50">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                  </a></td>
                                </tr>

                                <!--PopUp-->
                                <div class="container-fluid modal fade" id="modal{{f.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document" style="max-width: 100% !important;">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Facture</h5>
                                  </div>
                                  <div class="row mt-4">
                                    <div class="col-lg-6">
                                      <div class="card shadow mb-4">
                                          <div class="card-header py-3">
                                            <small class="font-weight-bold text-primary">{{f.name}}</small>
                                              <div class="dropdown no-arrow float-right">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'edit' f.id %}">Modifier facture</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delcomModal">Supprimer facture</a>
                                                <a class="dropdown-item" href="{% url 'createProd' f.id %}">Ajouter Produit</a>
                                            </div>
                                              </div>
                                          </div>
                                          <div class="card-body">
                                              <object
                                                data="http://127.0.0.1:8000/app/media/ext_mod_A.pdf"
                                                type="application/pdf"
                                                width="500"
                                                height="680"
                                              >
                                                <iframe
                                                  src="http://127.0.0.1:8000/app/media/ext_mod_A.pdf"
                                                  width="500"
                                                  height="680"
                                                >
                                                </iframe>
                                              </object>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="card shadow mb-4">
                                      <div class="card-header py-3">
                                          <h6 class="m-0 font-weight-bold text-primary">Extracter comme :</h6>
                                      </div>
                                      <div class="card-body">
                                        <a href="" class="btn btn-primary">PDF</a>
                                        <a href="" class="btn btn-success">EXCEL</a>
                                        <a href="" class="btn btn-warning">CSV</a>
                                      </div>
                                    </div>
                                    <div class="card shadow">
                                      <div class="card-header py-3">
                                          <h6 class="m-0 font-weight-bold text-primary">Champs</h6>
                                      </div>
                                      <div class="card-body">
                                        <form action="{% url 'show' f.id %}" method="post" class="form-group py-3 mb-3 ">
                                          {% csrf_token %}
                                          <label>Référence : <input type="text" name="ref_fac" class="form-control" value="{{f.ref_fac}}"></label>
                                          <label>Date : <input type="text" name="date" class="form-control" value="{{f.date}}"></label>
                                          <label>Total : <input type="text" name="total" class="form-control" value="{{f.total}}"></label>
                                          <p><label>Produit : <input type="text"  class="form-control" value="Produits" disabled/></label> <label> <a href="{% url 'showLprod' f.id %}" class="btn btn-info"><i class="fas fa-arrow-right"></i></a></label></p>
                                          {% if f.fournisseur %}
                                          <p><label>Fournisseur : <input type="text" class="form-control"value="{{f.fournisseur.name}}" disabled/></label> <label> <a href="{% url 'fourprof' f.fournisseur.id %}" class="btn btn-info"><i class="fas fa-arrow-right"></i></a></label></p>
                                          {% endif %}
                                          {% if f.client %}
                                          <p><label>Client : <input type="text" class="form-control"value="{{f.client.name}}" disabled/></label> <label> <a href="{% url 'cliprof' f.client.id %}" class="btn btn-info"><i class="fas fa-arrow-right"></i></a></label></p>
                                          {% endif %}
                                          <select class="form-control" name="status" aria-label="Default select example">
                                            <option value="P">Payée</option>
                                            <option value="N">Non payée</option>
                                            <option value="A">Avance Donnée</option>
                                          </select> 
                                          <input type="submit" class="btn btn-primary mt-2" value="Sauvegarder"/>
                                        </form>
                                      </div>
                                  </div>
                                </div>
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                              </div>
                                </div>
                              </div>
                            </div>
                                <form action="{% url 'deletefac' f.id %}" method="post">
                                  {% csrf_token %} 
                                <div class="modal fade" id="delcomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                  aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Voulez-vous Supprimer la facture?</h5>
                                              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">×</span>
                                              </button>
                                          </div>
                                          <div class="modal-body">Selectionnez "Oui" si vous êtes sure</div>
                                          <div class="modal-footer">
                                              <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                                              <input class="btn btn-danger" type="submit" value="Oui">
                                          </div>
                                      </div>
                                  </div>
                                </div>
                                </form>
                                <!--EndPopUp-->

                              {% endfor %}
                            </tbody>
                         </table>
                          <div class="pagination-container">
                            <div class="">
                              Page {{page_obj.number}} sur {{page_obj.paginator.num_pages}}
                            </div>
                            <ul class="pagination align-right float-right mr-auto">
                              {% if page_obj.has_previous %}
                                <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Pécédent</a></li>
                                {% endif %}
                            
                                {% if page_obj.has_next %}
                                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a></li>
                                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                              {% endif %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
            {% endif %}
              <div class="container">
                <p class="no-results" style="display: none;">No results found</p>
              </div>
              <div class="container">
                <div class="table-output">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Les Résultats</h6>
                        <a href="#" class="btn btn-danger float-right" data-toggle="modal" data-target="#delfacomModal">Supprimer tous les factures</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-responsive-xl">
                          <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                            </tr>
                          </thead>
                          <tbody class="table-body">
  
                          </tbody>
                        </table>
                        <div class="pagination-container">
                        <div class="">
                          Page {{page_obj.number}} sur {{page_obj.paginator.num_pages}}
                        </div>
                        <ul class="pagination align-right float-right mr-auto">
                            {% if page_obj.has_previous %}
                            <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                            {% endif %}
                        
                            {% if page_obj.has_next %}
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                            {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
               </div>
               <div class="container">
                <div class="wrapper mt-5">
                    <form action="{% url 'home'%}" class="form-group upload-form" method="POST" style="cursor: pointer;" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input class="file-input" type="file" name="factures" multiple hidden/>
                      <img class="jss301" src="https://cdn.nanonets.com/media/invoice.svg" alt="">
                      <p>Importer votre facture</p>
                      <input type="submit" class="btn btn-outline-info" value="upload" hidden/>
                    </form>
                    <section class="progress-area"></section>
                    <section class="uploaded-area"></section>
                </div>
              </div>
</div>
<form action="{% url 'deleteToday'%}" method="post">
  {% csrf_token %} 
<div class="modal fade" id="delfacomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Voulez-vous Supprimer toutes les factures d'aujourd'hui?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">Selectionnez "Oui" si vous êtes sure</div>
          <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
              <input class="btn btn-danger" type="submit" value="Oui">
          </div>
      </div>
  </div>
</div>
</form>
<!--Scripts-->
<script src="{% static 'app/facture/script.js'%}"></script>
<script src="{% static 'app/facture/searchFac.js'%}"></script>
<script>
  //   jQuery(document).ready(function($) {
  //     $(".clickable-row").click(function() {
  //         window.location = $(this).data("href");
  //     });
  // });
</script>
{% endblock %}